---
interface Props {
	software: {
		data: {
			title: string;
			summary: string;
			url?: string;
			repo: string;
			demo?: string;
		};
	};
}
const software = Astro.props.software.data;
---

<article
	class="grid gap-4 rounded-b-md rounded-t-sm border-2 border-t-3 border-t-brand-950 bg-white shadow-sm"
>
	<a class="aspect-video bg-gradient-to-bl from-brand-200 to-brand-900" href={software.url}> </a>
	<div class="grid gap-2 px-8 py-3">
		<header>
			<h3 class="text-xl font-medium text-brand-950">
				<a href={software.url} class="hover:underline">
					{software.title}
				</a>
			</h3>
		</header>
		<p class="text-xs text-neutral-700 sm:text-base">{software.summary}</p>
		<footer class="grid justify-start justify-items-start gap-2 text-neutral-950">
			{
				software.url ? (
					<a
						class="rounded-md border-2 bg-neutral-50 px-3 py-1 text-xs transition hover:bg-black hover:text-white sm:text-sm"
						href={software.url}
					>
						Website
					</a>
				) : null
			}
			<a
				class="rounded-md border-2 bg-neutral-50 px-3 py-1 text-xs transition hover:bg-black hover:text-white sm:text-sm"
				href={software.repo}
			>
				Git repository
			</a>
			{
				software.demo ? (
					<a
						class="rounded-md border-2 bg-neutral-50 px-3 py-1 text-xs transition hover:bg-black hover:text-white sm:text-sm"
						href={software.demo}
					>
						Demo
					</a>
				) : (
					<span class="text-xs italic text-neutral-500 sm:text-sm">Demo not available</span>
				)
			}
		</footer>
	</div>
</article>
