---
interface Props {
	demo: string | null;
	repo: string;
	summary: string;
	title: string;
	url: string | null;
}

const { demo, repo, summary, title, url } = Astro.props;
---

<article
	class="grid gap-y-4 rounded-b-md border-2 border-t-3 border-neutral-200 border-t-neutral-950 bg-white px-8 py-6 shadow-sm"
>
	<header>
		<h2 class="text-xl font-semibold text-neutral-950">
			<a href={url}>
				{title}
			</a>
		</h2>
	</header>
	<p class="text-xs leading-relaxed text-neutral-700 sm:text-sm sm:leading-relaxed">{summary}</p>
	<footer class="grid justify-start justify-items-start gap-2 text-neutral-950">
		{
			url ? (
				<a
					class="rounded-md border-2 bg-neutral-50 px-3 py-1 text-xs transition hover:bg-black hover:text-white sm:text-sm"
					href={url}
				>
					Website
				</a>
			) : null
		}
		<a
			class="rounded-md border-2 bg-neutral-50 px-3 py-1 text-xs transition hover:bg-black hover:text-white sm:text-sm"
			href={repo}
		>
			Git repository
		</a>
		{
			demo ? (
				<a
					class="rounded-md border-2 bg-neutral-50 px-3 py-1 text-xs transition hover:bg-black hover:text-white sm:text-sm"
					href={demo}
				>
					Demo
				</a>
			) : (
				<span class="text-xs italic text-neutral-500 sm:text-sm">Demo not available</span>
			)
		}
	</footer>
</article>
